In [1]:
import pandas as pd
import string
import numpy as np

In [2]:
df_dt = pd.read_csv('test_res.csv')
label_list = list(df_dt.columns[1:])
df_dt.columns=['image_id', 0, 1, 2]
df_dt['label_dt'] = df_dt[[0, 1, 2]].idxmax(1)

In [3]:
df_gt = pd.read_csv('../data/test_day6.csv')
df_gt['label_gt'] = df_gt['label'].apply(lambda x: label_list.index(x.strip(string.digits)))

In [4]:
df_dt

      image_id         0         1         2  label_dt
0          0.0  0.755169  0.132963  0.111868         0
1          1.0  0.755169  0.132963  0.111868         0
2          1.0  0.000082  0.790858  0.209060         1
3          1.0  0.000050  0.090270  0.909680         2
4          1.0  0.001470  0.000021  0.998509         2
...        ...       ...       ...       ...       ...
2222    1006.0  0.000137  0.001313  0.998550         2
2223    1007.0  0.000137  0.001313  0.998550         2
2224    1008.0  0.000137  0.001313  0.998550         2
2225    1009.0  0.009998  0.038403  0.951600         2
2226    1009.0  0.000137  0.001313  0.998550         2

[2227 rows x 5 columns]

In [5]:
df_gt

,day,label,size,width,height,filename,filename_gfp,filename_ph,x1,y1,...,ori_x2,ori_y2,clip_x1,clip_y1,clip_x2,clip_y2,batch,bbox_idx,image_id,label_gt
0,6,holoclone1,1344,136,126,1636427138_815849.png,1636427138_815849_gfp.png,1636427138_815849_ph.png,312,233,...,3830,4040,3382,3681,4726,5025,0,0,0,0
1,6,holoclone1,1344,136,126,1636427141_732765.png,1636427141_732765_gfp.png,1636427141_732765_ph.png,975,1060,...,3830,4040,2719,2854,4063,4198,0,1,1,0
2,6,holoclone8,1344,91,100,1636427141_732765.png,1636427141_732765_gfp.png,1636427141_732765_ph.png,960,165,...,3770,3119,2719,2854,4063,4198,0,2,1,0
3,6,paraclone51,1344,89,81,1636427141_732765.png,1636427141_732765_gfp.png,1636427141_732765_ph.png,606,1051,...,3414,3986,2719,2854,4063,4198,0,3,1,2
4,6,paraclone83,1344,88,86,1636427141_732765.png,1636427141_732765_gfp.png,1636427141_732765_ph.png,607,376,...,3414,3316,2719,2854,4063,4198,0,4,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2222,6,paraclone89,1344,55,50,1636430886_6351502.png,1636430886_6351502_gfp.png,1636430886_6351502_ph.png,1224,72,...,11244,6949,9965,6827,11309,8171,0,2222,1006,2
2223,6,paraclone89,1344,55,50,1636430889_169893.png,1636430889_169893_gfp.png,1636430889_169893_ph.png,264,357,...,11244,6949,10925,6542,12269,7886,0,2223,1007,2
2224,6,paraclone89,1344,55,50,1636430891_6492622.png,1636430891_6492622_gfp.png,1636430891_6492622_ph.png,765,545,...,11244,6949,10424,6354,11768,7698,0,2224,1008,2
2225,6,paraclone6,1344,252,115,1636430894_125134.png,1636430894_125134_gfp.png,1636430894_125134_ph.png,143,23,...,10891,6034,10496,5896,11840,7240,0,2225,1009,2
2226,6,paraclone89,1344,55,50,1636430894_125134.png,1636430894_125134_gfp.png,1636430894_125134_ph.png,693,1003,...,11244,6949,10496,5896,11840,7240,0,2226,1009,2

In [6]:
df = pd.concat((df_gt, df_dt), axis=1)

In [7]:
(df['label_gt']==df['label_dt']).mean()

0.858105074090705

In [8]:
df_tmp = df[df['label_gt']==0]
(df_tmp['label_gt'] == df_tmp['label_dt']).mean()

0.6511627906976745

In [9]:
df_tmp = df[df['label_gt']==1]
(df_tmp['label_gt'] == df_tmp['label_dt']).mean()

0.17557251908396945

In [10]:
df_tmp = df[df['label_gt']==2]
(df_tmp['label_gt'] == df_tmp['label_dt']).mean()

0.9776910206358059

In [11]:
df['label_gt'].value_counts()

2    1793
1     262
0     172
Name: label_gt, dtype: int64

In [12]:
df['label_dt'].value_counts()

2    1964
0     156
1     107
Name: label_dt, dtype: int64

In [13]:
label_list

['holoclone', 'meroclone', 'paraclone']